:root{
    /* Colors */
    --colors-primary: #ef8316;
    --btn-bg:#13245A;
    --white-color: #f1f1f1;

    /* Typographies *
    /**
   * typographie
   */

    --fs-1: 4rem;
    --fs-2: 3.2rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.4rem;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    --section-padding: 80px;

    --shadow-1: 0 8px 20px hsla(0, 0%, 0%, 0.06);
    --shadow-2: 0px 4px 10px hsla(0, 0%, 0%, 0.05);
    
    /* Margins */

    /* Padding */

    /* borders */
    --radius-4: 4px;
    --radius-6: 6px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* classes des bases */




/* classes pour les blocs */




/* Header */



/* Banner */



/* Scroll draggable */



/* Services */



/* Contacts */



/* Footer */



/* Medias queries */